<!DOCTYPE html>
<html>
<head>
    <title>
        Scroll
    </title>
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="index.css">
    <link href="https://fonts.googleapis.com/css2?family=Bellota:wght@300&family=Indie+Flower&family=Josefin+Sans:wght@300&family=Poiret+One&family=Questrial&display=swap" rel="stylesheet">
    <style type="text/css">
        .card{
            display: inline-block;
            width: 30px;
        }
        h1{
            padding: 70px;
        }
        .scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}
  .card {
    display: inline-block;
    width: 500px;
    margin: 10px;
    /*height: 600px*/
  }
  .scrolling-wrapper {
  -webkit-overflow-scrolling: touch;
}
h3{
    width: 30px;
}
.card-title:{
    font-size: 10px;
}

.card img{
    height: 300px;
    width: 400px
}


/*img{
    height: 50px;
    width: 70 px;
}*/

    </style>
</head>
<body>

    <div class="container">
        <div class="row">
            <div class="scrolling-wrapper">
                <div class="card mb-4">
                                    <img src="imgs/slide2.jpg" alt="card" class="card-img-top">
                                        <div class="card-body">
                                            <h3 class="card-title">CSK Slotted Self Tapping Screws</h3>
                                        </div>
                                </div>
                <div class="card mb-4">
                                    <img src="imgs/slide2.jpg" alt="card" class="card-img-top">
                                        <div class="card-body">
                                            <h3 class="card-title">CSK Slotted Self Tapping Screws</h3>
                                        </div>
                                </div>
                <div class="card mb-4">
                                    <img src="imgs/slide2.jpg" alt="card" class="card-img-top">
                                        <div class="card-body">
                                            <h3 class="card-title">CSK Slotted Self Tapping Screws</h3>
                                        </div>
                                </div>
                <div class="card" >
                    <h1>Hello</h1>
                </div>
                <div class="card">
                    <h1>Hello</h1>
                </div>
                <div class="card">
                    <h1>Hello</h1>
                </div>
                <div class="card" >
                    <h1>Hello</h1>
                </div>
                <div class="card">
                    <h1>Hello</h1>
                </div>
                <div class="card">
                    <h1>Hello</h1>
                </div>
                </div>
            </div>
        </div>



        <div class="jumbotron jumbotron-float">
                    <div class="container">
                        <div class="row justify-content-around">
                            <div class="scrolling-wrapper">
                                <!-- <div class="col-12 col-lg-4"> -->
                                <div class="card mb-4">
                                    <img src="imgs/1.jpg" alt="card" class="card-img-top">
                                        <div class="card-body">
                                            <h3 class="card-title">CSK Slotted Self Tapping Screws</h3>
                                        </div>
                                </div>
                            <!-- </div> -->
                            <!-- <div class="col-12 col-lg-4"> -->
                                <div class="card mb-4">
                                    <img src="imgs/2.jpg" alt="card" class="card-img-top">
                                        <div class="card-body">
                                            <h3 class="card-title">Pan Slotted Self Tapping Screws</h3>
                                        </div>
                                </div>
                            <!-- </div> -->

                            <!-- <div class="col-12 col-lg-4"> -->
                                <div class="card mb-4">
                                    <img src="imgs/3.jpg" alt="card" class="card-img-top">
                                        <div class="card-body">
                                            <h3 class="card-title">CSK Philips Self Tapping Screws</h3>
                                        </div>
                                </div>
                            <!-- </div> -->

                            <!-- <div class="col-12 col-lg-4"> -->
                                <div class="card mb-4">
                                    <img src="imgs/4.jpg" alt="card" class="card-img-top">
                                        <div class="card-body">
                                            <h3 class="card-title">Pan Philips Self Tapping Screws</h3>
                                        </div>
                                </div>
                            <!-- </div> -->

                            <!-- <div class="col-12 col-lg-4"> -->
                                <div class="card mb-4">
                                    <img src="imgs/5.jpg" alt="card" class="card-img-top">
                                        <div class="card-body">
                                            <h3 class="card-title">CSK Slotted Wood Screws</h3>
                                        </div>
                                </div>
                            <!-- </div> -->

                            <!-- <div class="col-12 col-lg-4"> -->
                                <div class="card mb-4">
                                    <img src="imgs/6.jpg" alt="card" class="card-img-top">
                                        <div class="card-body">
                                            <h3 class="card-title">CSK Philips Wood Screws</h3>
                                        </div>
                                </div>
                            <!-- </div> -->

                            <!-- <div class="col-12 col-lg-4"> -->
                                <div class="card mb-4">
                                    <img src="imgs/7.jpg" alt="card" class="card-img-top">
                                        <div class="card-body">
                                            <h3 class="card-title">CSK Slotted Machine Screws</h3>
                                        </div>
                                </div>
                            <!-- </div> -->

                            <!-- <div class="col-12 col-lg-4"> -->
                                <div class="card mb-4">
                                    <img src="imgs/8.jpg" alt="card" class="card-img-top">
                                        <div class="card-body">
                                            <h3 class="card-title">CSK Philips Machine Screws</h3>
                                        </div>
                                </div>
                            <!-- </div> -->

                            <!-- <div class="col-12 col-lg-4"> -->
                                <div class="card mb-4">
                                    <img src="imgs/9.jpg" alt="card" class="card-img-top">
                                        <div class="card-body">
                                            <h3 class="card-title">Combination Machine Screws</h3>
                                        </div>
                                </div>
                            <!-- </div> -->

                            <!-- <div class="col-12 col-lg-4"> -->
                                <div class="card mb-4">
                                    <img src="imgs/10.jpg" alt="card" class="card-img-top">
                                        <div class="card-body">
                                            <h3 class="card-title">Combination Washer Machine Screws</h3>
                                        </div>
                                </div>
                            <!-- </div> -->

                            <!-- <div class="col-12 col-lg-4"> -->
                                <div class="card mb-4">
                                    <img src="imgs/11.jpg" alt="card" class="card-img-top">
                                        <div class="card-body">
                                            <h3 class="card-title">Cheese Head Machine Screws</h3>
                                        </div>
                                </div>
                            <!-- </div> -->
</div>
</div>
                        </div>
                    </div>
</body>
</html>